.game__board {
  padding: 12px;
  margin: 25px auto;
  width: 600px;
  height: auto;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.game__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(213, 213, 213);
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 12px;
  color: blue;
  font-size: 80px;
  font-weight: bold;
}
.game__cell.x {
  color: red;
}

.btn__reset {
  display: block;
  margin: auto;
  padding: 8px 24px;
  background-color: green;
  color: aliceblue;
  font-weight: bold;
  font-size: 30px;
  border-radius: 12px;
}
.winner {
  display: block;
  text-align: center;
  color: green;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 12px;
}
